.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.vscode/


#dados/** 
dados/microdados_enem_2019/INPUTS
dados/microdados_enem_2019/DICIONÁRIO/Dicionário_Microdados_Enem_2019.ods
dados/microdados_enem_2019/dados_enem_processados_v2.csv.zip

wandb/

.venv_causal/
notebooks/analise_exploratoria.ipynb 

dados/microdados_enem_2019/DADOS

dados/microdados_enem_2019/dados_enem_processados.csv


!dados/microdados_enem_2019/
!dados/microdados_enem_2019/DICIONÁRIO/


!dados/microdados_enem_2019/dados_enem_processados.csv.zip
!dados/microdados_enem_2019/DICIONÁRIO/Dicionário_Microdados_Enem_2019.xlsx
!dados/microdados_enem_2019/readme.md

*.log